body {
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    text-align: center;
    align-items: center;
}

h1 {
    color: white;
    text-align: center;
    font-size: 40px;
    letter-spacing: 3px;
}

nav {
    width: 1080px;
    float: none;
    margin-left: auto;
    margin-right: auto;
}

ul {
    width: 375px;
    padding-left: 352.5px;
    list-style-type: none;
    align-content: center;
    text-align: center;
}

li {
    display: inline-block;
    float: inherit;
    align-content: center;
}

li a {
    text-decoration: none;
    height: 15px;
    padding-left:10px;
    padding-right: 10px;
    align-content: center;
}

li a:hover {
    color: white;
    background-color: white;
    
}

li a:active {
    color: darkgray;
}

li a:visited {
    color: darkgray;   
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: white;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #ffffff}

.dropdown:hover .dropdown-content {
    display: block;
}


footer { 
    display: block;
    color: darkgray

}

#viewingspace {
    width: 1080px;
    display: inline-block;
}

#one {
    width: 360px;
    float: left;
    align-content: center;
}

#two {
    width: 360px;
    float: left;
    align-content: center;
}

#three {
    width: 360px;
    float: left;
    align-content: center;
}

#footer {
    clear: both;
}

#viewingspacephotography {
    width: 1080px;
    display: inline-block;
}
#onephotography {
}

#twophotography {
}
#threephotography {
}
