body {
    background-color: white;
}

h1 {
    color: white;
    text-align: center;
    font-size: 40px;
    letter-spacing: 3px;
}

p {
    font-family: verdana;
    font-size: 20px;
}

nav {
    letter-spacing: inherit;
}

footer { 
    display: block;
    color: darkgray

}

#viewingspace {
    width: 1080px;
    display: inline-block;
}

#one {
    width: 360px;
    float: left;
    align-content: center;
}

#two {
    width: 360px;
    float: left;
    align-content: center;
}

#three {
    width: 360px;
    float: left;
    align-content: center;
}

#footer {
    clear: both;
}
